<% content_for :meta_title, "My Fridge - #{DEFAULT_META["meta_product_name"]}" %>

<div class="container fridge__container">


  <div class="fridge-wrapper">

    <div class="fridge__body">
      <h2><%= image_tag "grocery-orange.png", alt: "Grocery logo", class: "grocery__logo--mobile" %>My Grocery List</h2>

      <div class="category-wrapper">

        <div class="fridge-form fridge-form--mobile groceries"><%= render "form", user: current_user, grocery_item: GroceryItem.new %></div>

        <div class="fridge-form fridge-form--desktop">
          <%= render "form-desktop", user: current_user, grocery_item: GroceryItem.new %>
          <%#= link_to "Update Grocery List", grocery_items_path, method: :patch, class: "button button-main-red button-center button-lg btn-update-groceries", id: "update-grocery", remote: true %>
          <%= render "checkbox", grocery_items: @grocery_items unless @grocery_items.empty? %>
        </div>

        <%= render "category_grid_wrapper", categories: @categories, grocery_items: @grocery_items %>

      </div> <!-- end of category wrapper -->

        <div class="mobile-only-checkbox">
          <%= render "checkbox", grocery_items: @grocery_items unless @grocery_items.empty? %>
        </div>
        <%= link_to "Update Grocery List", grocery_items_path, method: :patch, class: "button button-main-red button-center button-lg btn-update-groceries", id: "update-grocery", remote: true %>

    </div>

  </div> <!-- end of fridge wraper -->

</div>
