<div class="d-flex flex-column header-container" style="color: white; background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(<%= recipe.photo %>);">
  <div class="row justify-content-between">
    <h2><%= recipe.name %></h2>
    <%= link_to new_wishlist_item_path(recipe), method: :post, remote: true do %>
      <i class="fas fa-heart mr-5 add-to-wishlist"></i>
    <% end %>
  </div>

  <div class="row">
    <%= render 'star_rating', recipe: recipe %>
  </div>

  <div class="row mt-2">
    <strong class="mr-2">Prep Time</strong>
    <% if recipe.prep_time > 60 %>
      <%= (recipe.prep_time / 60).floor %> h
      <% unless recipe.prep_time % 60 == 0 %>
        <%= recipe.prep_time % 60 %> min
      <% end %>
    <% else %>
      <%= recipe.prep_time %> min
    <% end %>
  </div>

  <div class="row mt-2">
    <strong class="mr-2">Cooking Time</strong>
    <% if recipe.cook_time > 60 %>
      <%= (recipe.cook_time / 60).floor %> h
      <% unless recipe.cook_time % 60 == 0 %>
        <%= recipe.cook_time % 60 %> min
      <% end %>
    <% else %>
      <%= recipe.cook_time %> min
    <% end %>
  </div>

  <div class="row mt-2">
    <strong class="mr-2">Servings</strong>
    <%= recipe.servings %>
  </div>


</div>
