<% content_for :meta_title, "#{@recipe.name} - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_image, cl_image_path(@recipe.photo) %>

<div class="page-container">
  <%= render "sidenav" %>

    <div class="item-b">
      <div class="d-flex flex-column header-container" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(<%= @recipe.photo %>);">
        <div class="d-flex justify-content-between">
          <h2><%= @recipe.name %></h2>
          <% if WishlistItem.where(recipe: @recipe).empty? %>
            <%= link_to wishlist_item_path(@recipe), method: :post, remote: true do %>
              <i class="far fa-heart mr-3 add-to-wishlist-empty"></i>
            <% end %>
          <% else %>
            <%= link_to wishlist_item_path(@recipe), method: :delete, remote: true do %>
              <i class="fas fa-heart mr-3 add-to-wishlist"></i>
            <% end %>
          <% end %>
        </div>

        <div class="reviews-stars-and-text-container">
          <div class="d-flex align-items-center">
            <%= render 'star_rating', recipe: @recipe %>
            <%= link_to "Leave a Review", recipe_path(@recipe) + "#leave-a-review", class: "ml-2 leave-review-link" %>
          </div>
        </div>


        <div class="header-recipe-details d-flex mt-2">
          <span class="">
            <strong class=" header-text-bigger">Prep Time</strong>
              <%= @recipe.prep_time %>
          </span>

          <span class="mx-2">|</span>

          <span class="">
            <strong class=" header-text-bigger">Cooking Time</strong>
              <%= @recipe.cook_time %>
          </span>

          <span class="mx-2">|</span>

          <span class="">
            <strong class="header-text-bigger">Servings</strong>
            <%= @recipe.servings %>
          </span>
        </div>
        <% if @recipe.steps.count == 1 || @recipe.steps.count == 0 %>
          <div class="start-cooking mt-3" style="display: block; max-width: 140px; text-align: center;">
            <%= link_to empty_fridge_path(@recipe), class: "link_to_done", remote: true, method: :patch do %>
            <div class="button button-main-red">Done Cooking!</div>
            <% end %>
          </div>
        <% else %>
        <div class="start-cooking">
          <a class="button button-main-red" id="show-page-button" href="#">Start Cooking</a>
        </div>
        <% end %>


      </div>
      <% unless @recipe.steps.count == 1 || @recipe.steps.count == 0 %>
        <div class="step_wrapper">
          <div id="progress-bar" class="progress-fraction" style="width: <%= 100 / @recipe.steps.count.to_f %>%">
          </div>
          <div id="recipe-steps" data-steps="<%= @recipe.steps.count %>" class="recipe-steps d-flex align-items-center">
            <% last_item_index = @recipe.steps.count - 1%>
            <% @recipe.steps.reverse.each_with_index do |step, index| %>

              <div class="recipe-step text-center">
                <div>
                  <strong class="recipe-order"><%= step.order %>&nbsp;-&nbsp;</strong>
                  <span style="max-width: 60%;"> <%= step.content %></span>
                  <% if index == last_item_index %>
                    <div id="done-cooking" class="mt-3">
                      <%= link_to empty_fridge_path(@recipe), class: "link_to_done", remote: true, method: :patch do %>
                      <div class="button button-main-red" style="margin-left: auto; margin-right: auto; max-width: 20vw;">Done Cooking!</div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>

            <% end %>
          </div>
          <div id='steps-dots' class="text-center d-flex justify-content-center"></div>

        </div>
      <% end %>
    </div>

    <div class="item-c">
      <% @recipe.steps.order('steps.order ASC').each do |step| %>
        <p><strong><%= step.order %></strong> - <%= step.content %></p>
      <% end %>
    </div>

    <%= render "components/reviews", recipe: @recipe, form: true, show_page: true, mobile: false %>
</div>
