<% content_for :meta_title, "#{@recipe.name} - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_image, cl_image_path(@recipe.photo) %>

<div class="mobile-container">
    <div class="mobile-item-b">
        <div class="d-flex flex-column mobile-header-container" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(<%= @recipe.photo %>);">
            <div class="d-flex justify-content-between">
              <h2><%= @recipe.name %></h2>
              <% if WishlistItem.where(recipe: @recipe).empty? %>
                <%= link_to wishlist_item_path(@recipe), method: :post, remote: true do %>
                  <i class="far fa-heart add-to-wishlist-empty"></i>
                <% end %>
              <% else %>
                <%= link_to wishlist_item_path(@recipe), method: :delete, remote: true do %>
                  <i class="fas fa-heart add-to-wishlist"></i>
                <% end %>
              <% end %>
             </div>

            <div class="reviews-stars-and-text-container">
              <div class="d-flex align-items-center">
                <%= render 'star_rating', recipe: @recipe %>
                <%= link_to "Leave a Review", recipe_path(@recipe) + "#leave-a-review-mobile", class: "ml-2 mobile-review-link" %>
              </div>
            </div>

            <div class="header-recipe-details d-flex mt-2">
                <span class="">
                    <strong class="header-text-bigger">Prep Time</strong>
                    <%= @recipe.prep_time %>
                </span>

                <span class="mx-2 line">|</span>

                <span class="">
                    <strong class=" header-text-bigger">Cooking Time</strong>
                    <%= @recipe.cook_time %>
                </span>

                <span class="mx-2 line">|</span>

                <span class="">
                  <strong class="header-text-bigger">Servings</strong>
                  <%= @recipe.servings %>
                </span>
            </div>
            <%# Start Button %>
            <div class="start-cooking-mobile">
                <a class="button button-main-red" id="show-page-button" href="/recipes/<%= @recipe.id %>/steps">Start Cooking</a>
            </div>
        </div>
    </div>


        <%# Ingredient List %>
    <div class="ingredients-start-button">
        <div id="ingredient-title" class="btn btn-outline-success" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Ingredients</div>
            <div class="mobile-ingredient-list collapse" id="collapseExample">
                <div class="card card-body">
                    <div class="missing-ingredients">
                        <% @recipe.missing_ingredients(current_user).each do |recipe_item| %>
                            <div class="ingredient-red">
                                <i class="far fa-times-circle"></i>
                                <strong><%= recipe_item.quantity %> <%= recipe_item.ingredient.unit_of_measure %></strong>
                                <%= recipe_item.ingredient.name.capitalize %>
                            </div>
                        <% end %>
                    </div>
                    <div class="matched-ingredients">
                        <% @recipe.matching_ingredients(current_user).each do |recipe_item| %>
                            <div class="ingredient-green">
                                <i class="far fa-check-circle"></i>
                                <strong><%= recipe_item.quantity %> <%= recipe_item.ingredient.unit_of_measure %></strong>
                                <%= recipe_item.ingredient.name.capitalize %>
                            </div>
                        <% end %>
                    </div><br>
                    <div class="collapsed-grocery-button">
                        <a class="button button-main-green" rel="nofollow" data-method="post" href="/recipes/<%= @recipe.id %>/add-to-grocery">Add to Grocery List</a>
                    </div><br>
                </div>
            </div>
        </div>
    </div>

    <%# Steps %>
    <div class="item-c">
    <% @recipe.steps.order('steps.order ASC').each do |step| %>
        <p style="font-size:20px;"><%= step.order %> - <%= step.content %></p>
    <% end %>
    </div>

    <%# Reviews %>
    <%= render "components/reviews", recipe: @recipe, form: true, show_page: true, mobile: true %>
</div>
