<div class="recipe-card" data-recipe-id="<%= recipe.id %>" data-toggle="modal", data-target="#recipe-modal-<%= recipe.id %>">


  <div class="recipe-card-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(<%= recipe.photo %>);"></div>
  <div class="recipe-details">
    <h4 class="mb-0"><%= recipe.name %></h4>

    <div class="mt-1 d-flex align-items-center recipe-card-ingredients color-secondary">
      Ingredients
      <% ingredients_to_buy = recipe.how_many_ingredients_to_buy(current_user) %>
      <span class="ml-3 mr-3 ">
        <i class="far fa-times-circle color-main-red mr-0"></i> <%= ingredients_to_buy %>
      </span>
      <span class="">
        <i class="far fa-check-circle color-main-green mr-0"></i> <%= recipe.ingredients.count - ingredients_to_buy %>
      </span>
    </div>

    <div class="mt-2 d-flex align-items-center">
      <%= image_tag "stopwatch-gray.png", class: "stopwatch-icon" %>
      <% time = recipe.prep_time + recipe.cook_time %>
      <% if time > 60 %>
        <%= (time / 60).floor %> h
        <% unless time % 60 == 0 %>
          <%= time % 60 %> min
        <% end %>
      <% else %>
        <%= time %> min
      <% end %>


    </div>


    <div class="mt-2">
      <%= render 'recipes/star_rating', recipe: recipe %>
    </div>
  </div>
</div>

