<div class="recipe-card" data-recipe-id="<%= recipe.id %>">
  <div class="ingredient-icons d-flex">
    <div class="circle-icon circle-main-red mr-3">
      <div>
        <%= recipe.matching_ingredients(@fridge_items).count %>
      </div>
    </div>
    <div class="circle-icon circle-main-green">
      <div>
        <%= recipe.how_many_ingredients_to_buy(@fridge_items) %>
      </div>
    </div>
  </div>

  <div class="recipe-card-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(<%= recipe.photo %>);"></div>
  <div class="recipe-details">
    <h4><%= recipe.name %></h4>
    <div>
      <%= image_tag "stopwatch-gray.png", class: "stopwatch-icon" %>
      <% time = recipe.prep_time + recipe.cook_time %>
      <% if time > 60 %>
        <%= (time / 60).floor %> h
        <% unless time % 60 == 0 %>
          <%= time % 60 %> min
        <% end %>
      <% else %>
        <%= time %> min
      <% end %>
    </div>
    <div class="mt-1">
      <%= recipe.steps.count %> steps
    </div>
    <div class="mt-1">
      <%= render 'star_rating', recipe: recipe %>
    </div>
  </div>
</div>

