<div class="opacity-background">


</div>

<div class="recipe-card-popup">
  <div class="sub-container">
    <div class="close-popup">
      <i class="fas fa-times"></i>
    </div>

    <div class="popup-card-container p-3">
      <div class="row justify-content-between">
        <%= render 'components/recipe_header', recipe: recipe %>
        <!-- <div class="col-5 p-0 recipe-popup-image" style="background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(<%= recipe.photo %>);">
        </div> -->
      </div>


      <div class="row mt-3 justify-content-center">
        <%= link_to "Recipe", recipe_path(recipe), class: "button button-main-red mr-1", id: "show-page-button" %>
        <%= link_to "Add to Grocery List", add_grocery_items_path(recipe), class: "button button-main-green ml-1", method: :post %>
      </div>

      <!-- Display Ingredients, with color according to Missing, Insufficient or Matching -->
      <div id="ingredients-container" class="mt-4">
        <h4 class="mb-3">Ingredients</h4>
        <ul id="popup-ingredients-list">
          <% recipe.insufficient_ingredients(fridge_items).each do |recipe_item| %>
            <li class="ingredient-orange">
              <i class="far fa-times-circle"></i>
              <%= recipe_item.ingredient.name %>
              (<%= recipe_item.how_many_missing %> <%= recipe_item.ingredient.unit_of_measure %> missing)
            </li>
          <% end %>

          <% recipe.missing_ingredients(fridge_items).each do |recipe_item| %>
            <li class="ingredient-red">
              <i class="far fa-times-circle"></i>
              <%= recipe_item.ingredient.name %>
              (need <%= recipe_item.how_many_missing %> <%= recipe_item.ingredient.unit_of_measure %>)
            </li>
          <% end %>

          <% recipe.matching_ingredients(fridge_items).each do |recipe_item| %>
            <li class="ingredient-green">
              <i class="far fa-check-circle"></i>
              <%= recipe_item.ingredient.name %>
              (<%= recipe_item.quantity %> <%= recipe_item.ingredient.unit_of_measure %>)
            </li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
</div>
