<div class="opacity-background">


</div>

<div class="recipe-card-popup">
  <div class="sub-container">
    <div class="close-popup">
      <i class="fas fa-times"></i>
    </div>

    <div class="popup-card-container p-3">
      <div class="row justify-content-between">
        <div class="col-7 d-flex flex-column">
          <div class="row justify-content-between">
            <h2><%= recipe.name %></h2>
            <%= link_to new_wishlist_item_path(recipe), method: :post, remote: true do %>
              <i class="fas fa-heart mr-5 add-to-wishlist"></i>
            <% end %>
          </div>

          <div class="row">
            <%= render 'star_rating', recipe: recipe %>
          </div>

          <div class="row mt-2">
            <strong class="mr-2">Prep Time</strong>
            <% if recipe.prep_time > 60 %>
              <%= (recipe.prep_time / 60).floor %> h
              <% unless recipe.prep_time % 60 == 0 %>
                <%= recipe.prep_time % 60 %> min
              <% end %>
            <% else %>
              <%= recipe.prep_time %> min
            <% end %>
          </div>

          <div class="row mt-2">
            <strong class="mr-2">Cooking Time</strong>
            <% if recipe.cook_time > 60 %>
              <%= (recipe.cook_time / 60).floor %> h
              <% unless recipe.cook_time % 60 == 0 %>
                <%= recipe.cook_time % 60 %> min
              <% end %>
            <% else %>
              <%= recipe.cook_time %> min
            <% end %>
          </div>

          <div class="row mt-2">
            <strong class="mr-2">Servings</strong>
            <%= recipe.servings %>
          </div>


        </div>
        <div class="col-5 p-0">
          <img src="<%= recipe.photo %>" alt="food image">
        </div>
      </div>


      <div class="row mt-3 justify-content-center">
        <%= link_to "Recipe", recipe_path(recipe), class: "button button-main-red mr-1", id: "show-page-button" %>
        <%= link_to "Add to Grocery List", add_grocery_items_path(recipe), class: "button button-main-green ml-1", method: :post %>
      </div>

      <!-- Display Ingredients, with color according to Missing, Insufficient or Matching -->
      <div id="ingredients-container" class="mt-4">
        <h4 class="mb-3">Ingredients</h4>
        <ul id="popup-ingredients-list">
          <% recipe.insufficient_ingredients(fridge_items).each do |recipe_item| %>
            <li class="ingredient-orange">
              <i class="far fa-times-circle"></i>
              <%= recipe_item.ingredient.name %>
              (<%= recipe_item.how_many_missing %> <%= recipe_item.ingredient.unit_of_measure %> missing)
            </li>
          <% end %>

          <% recipe.missing_ingredients(fridge_items).each do |recipe_item| %>
            <li class="ingredient-red">
              <i class="far fa-times-circle"></i>
              <%= recipe_item.ingredient.name %>
              (need <%= recipe_item.how_many_missing %> <%= recipe_item.ingredient.unit_of_measure %>)
            </li>
          <% end %>

          <% recipe.matching_ingredients(fridge_items).each do |recipe_item| %>
            <li class="ingredient-green">
              <i class="far fa-check-circle"></i>
              <%= recipe_item.ingredient.name %>
              (<%= recipe_item.quantity %> <%= recipe_item.ingredient.unit_of_measure %>)
            </li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
</div>
