<!-- <div class="recipe-card-popup-container opacity-background"> -->

<div class="modal fade" id="recipe-modal-<%= recipe.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">


      <!-- Start of Recipe Card Popup -->

      <div class="recipe-card-popup" data-recipe-id="<%= recipe.id %>">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="recipe-card-popup-scrollable">

          <%= render 'components/recipe_header', recipe: recipe %>

  <!--         <div class="close-popup">
            <i class="fas fa-times"></i>
          </div>
 -->
          <div class="popup-card-container px-4">


            <!-- Display Ingredients, with color according to Missing, Insufficient or Matching -->
            <div id="ingredients-container" class="mt-4">

              <% unless recipe.missing_ingredients(current_user).count == 0 %>
                <div class="d-flex align-items-center justify-content-between">
                  <h4 class="mb-3 mt-4">Missing ingredients</h4>
                  <%= link_to "Add to Grocery List", add_grocery_items_path(recipe), class: "button button-main-green ml-3", method: :post, remote: true %>

                </div>
                <ul class="popup-ingredients-list">
                  <% recipe.missing_ingredients(current_user).each do |recipe_item| %>
                    <li class="ingredient-red">
                      <i class="far fa-times-circle"></i>
                      <%= recipe_item.ingredient.name %>
                      (<%= recipe_item.how_many_missing %> <%= recipe_item.ingredient.unit_of_measure %> missing)
                    </li>
                  <% end %>

                </ul>

              <% end %>

              <% unless recipe.matching_ingredients(current_user).count == 0 %>

                <h4 class="mb-3">Ingredients I have</h4>

                <ul class="popup-ingredients-list">
                  <% recipe.matching_ingredients(current_user).each do |recipe_item| %>
                    <li class="ingredient-green">
                      <i class="far fa-check-circle"></i>
                      <%= recipe_item.ingredient.name %>
                      (<%= recipe_item.quantity %> <%= recipe_item.ingredient.unit_of_measure %>)
                    </li>
                  <% end %>
                </ul>

              <% end %>

            </div>
          </div>

        <!-- End of recipe-card-popup-scrollable -->
        </div>
      </div>
      <!-- End of Recipe Card Popup -->

    </div>
  </div>
</div>

<!-- </div> -->
