<div class="container">
  <h1>Recipes for You</h1>

  <div class="recipes-container">

    <% @recipes.each do |recipe| %>

      <%= link_to recipe_popup_path(recipe), class: "no-link", remote: true do %>

        <div class="recipe-card" data-recipe-id="<%= recipe.id %>">
          <img src="<%= recipe.photo %>" alt="food image">
          <h4><%= recipe.name %></h4>
          <p>Missing Ingredients: </p>
          <ul>
            <% recipe.missing_ingredients(@fridge_items).each do |recipe_item| %>
              <li><%= recipe_item.ingredient.name %></li>
            <% end %>
          </ul>

          <p>Insufficient Ingredients: </p>
          <ul>
            <% recipe.insufficient_ingredients(@fridge_items).each do |recipe_item| %>
              <li><%= recipe_item.ingredient.name %></li>
            <% end %>
          </ul>
        </div>

      <% end %>

    <% end %>

  </div>

</div>


