<div class="container">

  <% if @wishlist_recipes.count.positive? %>

    <h2 class="">My Wishlist</h2>
    <div class="wishlist-container row">

      <div id="wishlist-recipes-slider" class="col-12 d-flex">

        <% @wishlist_recipes.each do |recipe| %>

          <%= link_to recipe_popup_path(recipe), class: "no-link wishlist-link px-3", remote: true do %>
            <%= render "recipe_card", recipe: recipe, wishlist: true %>
          <% end %>

        <% end %>

      </div>

    </div>

  <% end %>

  <h2 class="mt-3">Recommendations</h2>

  <div class="recipes-container mt-3">

    <% @recipes.each do |recipe| %>

      <%= link_to recipe_popup_path(recipe), class: "no-link", 'data-toggle': "modal", 'data-target': "#recipe-modal-#{recipe.id}" do %>

        <%= render "recipe_card", recipe: recipe %>

      <% end %>

    <% end %>

  </div>

</div>

<!-- Add the hidden Modals -->
<% @recipes.each do |recipe| %>
  <%= render "recipe_popup", recipe: recipe, fridge_items: @fridge_items %>
<% end %>

<!-- Add the hidden button to refresh Carousel -->
<button id="unslick-carousel" style="display: none"></button>
<button id="refresh-carousel" style="display: none"></button>
