<div class="container" id="recipes-container">

  <% if user_signed_in? && @wishlist_recipes.count.positive? &&  %>
    <h2 class="wishlist-header">My Wishlist</h2>
    <!-- <h2 class="wishlist-header hidden">My Wishlist</h2> -->

    <div class="wishlist-container row">

      <div id="wishlist-recipes-slider" class="col-12 d-flex">

        <% @wishlist_recipes.each do |recipe| %>

          <% missing_ingredients = recipe.missing_ingredients(@user) %>

          <div class="no-link wishlist-link px-3">
            <%= render "recipe_card", recipe: recipe, missing_ingredients: missing_ingredients %>
          </div>

        <% end %>

      </div>

    </div>

  <% end %>

  <div id="browse-recipes">
    <div id="browse-recipes-top"></div>

    <% if @recipes.empty? %>

      <h2 class="mt">Sorry, there are no recipes matching your search</h2>

    <% end %>

    <% if user_signed_in? %>

      <h2 class="mt" id="ready-to-cook">Ready to Cook</h2>

      <div class="recipes-container mt-3" id="ready-to-cook-container">

        <% @recipes.each do |recipe| %>

            <% missing_ingredients = recipe.missing_ingredients(@user) %>

            <% if missing_ingredients.count.zero? %>

              <%= render "recipe_card", recipe: recipe, missing_ingredients: missing_ingredients %>

              <%= render "recipe_popup", recipe: recipe, missing_ingredients: missing_ingredients %>

            <% end %>

        <% end %>

      </div>

    <% end %>


    <%# unless @recipes_not_ready.empty? %>
      <h2 class="mt-3">Recipes for You</h2>

      <div class="recipes-container mt-3">

        <% @recipes.each do |recipe| %>

          <% missing_ingredients = recipe.missing_ingredients(@user) %>

          <% if (recipe.recipe_items.length - missing_ingredients.length).zero? %>

            <%= render "recipe_card", recipe: recipe, missing_ingredients: missing_ingredients %>

            <%= render "recipe_popup", recipe: recipe, missing_ingredients: missing_ingredients %>

          <% end %>

        <% end %>

      </div>

    <%# end %>
  </div>

</div>

<% if user_signed_in? %>
  <% @wishlist_recipes.each do |recipe| %>
    <% unless @recipes.include? recipe %>
      <% missing_ingredients = recipe.missing_ingredients(@user) %>
      <%= render "recipe_popup", recipe: recipe, missing_ingredients: missing_ingredients %>
    <% end %>
  <% end %>
<% end %>
