<%= render "components/main_banner" %>

<div class="container" id="recipes-container">

  <% if @wishlist_recipes.count.positive? %>
    <h2 class="wishlist-header">My Wishlist</h2>
  <% else %>
    <h2 class="wishlist-header hidden">My Wishlist</h2>
  <% end %>
    <div class="wishlist-container row">

      <div id="wishlist-recipes-slider" class="col-12 d-flex">

        <% @wishlist_recipes.each do |recipe| %>

          <%#= link_to recipe_popup_path(recipe), class: "no-link wishlist-link px-3", remote: true do %>
          <div class="no-link wishlist-link px-3">
            <%= render "recipe_card", recipe: recipe, wishlist: true %>
          </div>
          <%# end %>

        <% end %>

      </div>

    </div>


  <% unless @recipes_ready.empty? %>

    <h2 class="mt">Ready to Cook</h2>

    <div class="recipes-container mt-3">

      <% @recipes_ready.each do |recipe| %>

        <%# if recipe.missing_ingredients(current_user).empty? %>

          <%= render "recipe_card", recipe: recipe %>

        <% end %>

      <%# end %>

    </div>

  <% end %>


  <h2 class="mt-3">Recipes for You</h2>

  <div class="recipes-container mt-3">

    <% @recipes_not_ready.each do |recipe| %>

      <%# unless recipe.missing_ingredients(current_user).empty? %>

        <%= render "recipe_card", recipe: recipe %>

      <%# end %>

    <% end %>

  </div>

</div>

<!-- Add the hidden Modals -->
<% @recipes.each do |recipe| %>
  <%= render "recipe_popup", recipe: recipe, fridge_items: @fridge_items %>
<% end %>

<!-- Add the hidden button to refresh Carousel -->
<!-- <button id="unslick-carousel" style="display: none"></button>
<button id="refresh-carousel" style="display: none"></button> -->
