<div class="grid-container">
  <div class="list-ingredients">
    <div id="title">Ingredients</div>
    <ul>
      <% recipe_items = RecipeItem.where("recipe_id=" + @recipe.id.to_s) %>
        <% recipe_items.each do |item| %>
          <% i = Ingredient.find(item.ingredient_id) %>
          <li><%= i.name %></li>
      <% end %>
    </ul>
  </div>
  <div class="recipe-info">
    <div class="recipe-title">
      <h1><%= @recipe.name %></h1>
    </div>
    <div class="d-flex justify-content-end  recipe-details">
      <div class="recipe-preptime">
      <h2><%=  @recipe.prep_time %></h2>
      <p>Minutes</p>
      </div>
      <div class="recipe-difficulty">
      <h2><%=  @recipe.difficulty %></h2>
      <p>Difficulty</p>
      </div>
      <div>
      <h2 class="calories">340</h2>
      <p>Calories</p>
      </div>
    </div>
  </div>
  <div class="recipe-image" style="position: relative;">
      <img src="https://images.unsplash.com/photo-1543198453-ed52dc5cbfc0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1190&q=80" alt="Smiley face" >
      <a href="#">
      <i class="fas fa-heart fa-2x" style="position: absolute;top:15px;right:15px;color:red;"></i></a>
  </div>
  <div class="recipe-steps">
    <% @recipe.steps.each do |step| %>
      <p><%= step.order %> - <%= step.content %></p>
    <% end %>
  </div>
  <div class= "recipe-reviews" >
    <% if @reviews.empty? %>
        <ul id="reviews-list">
          <%= render "reviews/no_reviews" %>
        </ul>
    <% else %>
      <h4>What users say about this recipe</h4>
      <ul id="reviews-list">
        <% @reviews.each do |review| %>
          <%= render "reviews/show_opacity1", review: review %>
        <% end %>
      </ul>
    <% end %>

      <h4 class="specs__title">Leave a Review</h4>

      <%= render "reviews/form", recipe: @recipe, review: Review.new %>
  </div>
  <div class="steps">
  <!-- PATH = /recipes/:id/steps,   controller#action = @recipe     -->
  <%= link_to "start", recipe_steps_path(@recipe),:class => "btn btn-primary",:button_id => "start" %>|
</div>

</div>
