<div class="page-container">


  <div class="item-a">
    <div class="start-button">
      <%= link_to "start recipe", recipe_steps_path(@recipe),:class => "button button-main-red",:button_id => "Start Recipe" %>
    </div>
   <!-- Ingredients List -->
    <div id="title"><h4>Ingredients</h4></div>
    <ul>
      <% @recipe.insufficient_ingredients(@fridge_items).each do |recipe_item| %>
        <li class="ingredient-orange">
          <i class="far fa-times-circle"></i>
          <%= recipe_item.ingredient.name %>
          (<%= recipe_item.how_many_missing %> <%= recipe_item.ingredient.unit_of_measure %> missing)
        </li>
      <% end %>

      <% @recipe.missing_ingredients(@fridge_items).each do |recipe_item| %>
        <li class="ingredient-red">
          <i class="far fa-times-circle"></i>
          <%= recipe_item.ingredient.name %>
          (need <%= recipe_item.how_many_missing %> <%= recipe_item.ingredient.unit_of_measure %>)
        </li>
      <% end %>

      <% @recipe.matching_ingredients(@fridge_items).each do |recipe_item| %>
        <li class="ingredient-green">
          <i class="far fa-check-circle"></i>
          <%= recipe_item.ingredient.name %>
          (<%= recipe_item.quantity %> <%= recipe_item.ingredient.unit_of_measure %>)
        </li>
      <% end %>
    </ul>
  </div>



  <div class="item-b">
    <div class="recipe-title">
      <h1><%= @recipe.name %></h1>
    </div>
    <div class="d-flex justify-content-end  recipe-details">
      <div class="recipe-preptime">
        <h4><%=  @recipe.prep_time %></h4>
        <p>Prep time</p>
      </div>
      <div class="recipe-cooktime">
        <h4><%=  @recipe.cook_time %></h4>
        <p>Cooking Time</p>
      </div>
      <div>
        <h4 class="servings"><%= @recipe.servings %></h4>
        <p>Servings</p>
      </div>
    </div>
  </div>



  <div class="item-c recipe-image">
      <img src="https://images.unsplash.com/photo-1543198453-ed52dc5cbfc0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1190&q=80" alt="Smiley face" >
      <%= link_to new_wishlist_item_path(@recipe), class: "add-to-wishlist", method: :post, remote: true do %>
        <i class="fas fa-heart"></i>
      <% end %>
  </div>




  <div class="item-d">
    <% @recipe.steps.each do |step| %>
        <p><%= step.order %> - <%= step.content %></p>
      <% end %>
    </div>
    <div class= "recipe-reviews" >
      <% if @reviews.empty? %>
          <ul id="reviews-list">
            <%= render "reviews/no_reviews" %>
          </ul>
      <% else %>
        <h4>What users say about this recipe</h4>
        <ul id="reviews-list">
          <% @reviews.each do |review| %>
            <%= render "reviews/show_opacity1", review: review %>
          <% end %>
        </ul>
      <% end %>

        <h4 class="specs__title">Leave a Review</h4>

        <%= render "reviews/form", recipe: @recipe, review: Review.new %>

  </div>
</div>
