<h1>My Wishlist</h1>

<% @wishlist_items.each do |item| %>
    <h2><%= item.recipe.name %></h2>
    <p><%= item.recipe.prep_time %></p>
    <p><%= item.recipe.cook_time %></p>
    <p><%= item.recipe.servings %></p>
    <p><%= item.recipe.rating %></p>
    <%= link_to recipe_path(item.recipe.id)%>
<% end %>
