<div class="row ingredients-row">
  <!-- List the Ingredients -->
  <!-- <div class="list-ingredients col-3"> -->
  <div class="ingredients-list col-3">
    <div id="title-step">Ingredients</div>
    <ul>
      <% @recipe.missing_ingredients(current_user).each do |recipe_item| %>
        <li class="ingredient-red">
          <i class="far fa-times-circle"></i>
          <%= recipe_item.ingredient.name %>
          (need <%= recipe_item.how_many_missing %> <%= recipe_item.ingredient.unit_of_measure %>)
        </li>
      <% end %>

      <% @recipe.matching_ingredients(current_user).each do |recipe_item| %>
        <li class="ingredient-green">
          <i class="far fa-check-circle"></i>
          <%= recipe_item.ingredient.name %>
          (<%= recipe_item.quantity %> <%= recipe_item.ingredient.unit_of_measure %>)
        </li>
      <% end %>
    </ul>
  </div>

  <!-- list the steps -->
  <div class="col-9">
    <div class="steps-header d-flex justify-content-between align-items-center">
      <h1><%= @recipe.name %></h1>
      <img src="<%= @recipe.photo %>" alt="">
    </div>

    <%= render 'steps', steps: @steps %>

    <div id="progress-bar" class="d-flex">
      <%# @recipe.steps.each do |step| %>
       <!--  <div class="progress-fraction flex-grow-1">

        </div> -->
      <%# end %>
      <%= render "progress_bar", recipe: @recipe %>
    </div>
      <div id="done-cooking" class="mt-3" style="text-align: center;visibility: hidden;">
        <% @recipe_ingredients = @recipe.ingredients %>
        <% #raise %>
        <%= link_to "Done Cooking", empty_fridge_path(@recipe), method: :patch, class: "button button-main-red button-center button-lg" %>
      </div>
  </div>
</div>


