<div class="row ingredients-row">
  <!-- List the Ingredients -->
  <!-- <div class="list-ingredients col-3"> -->
  <div class="ingredients-list col-3">
    <div id="title-step">Ingredients</div>
    <ul>
      <% @recipe.insufficient_ingredients(@fridge_items).each do |recipe_item| %>
        <li class="ingredient-orange">
          <i class="far fa-times-circle"></i>
          <%= recipe_item.ingredient.name %>
          (<%= recipe_item.how_many_missing %> <%= recipe_item.ingredient.unit_of_measure %> missing)
        </li>
      <% end %>

      <% @recipe.missing_ingredients(@fridge_items).each do |recipe_item| %>
        <li class="ingredient-red">
          <i class="far fa-times-circle"></i>
          <%= recipe_item.ingredient.name %>
          (need <%= recipe_item.how_many_missing %> <%= recipe_item.ingredient.unit_of_measure %>)
        </li>
      <% end %>

      <% @recipe.matching_ingredients(@fridge_items).each do |recipe_item| %>
        <li class="ingredient-green">
          <i class="far fa-check-circle"></i>
          <%= recipe_item.ingredient.name %>
          (<%= recipe_item.quantity %> <%= recipe_item.ingredient.unit_of_measure %>)
        </li>
      <% end %>
    </ul>
  </div>

  <!-- list the steps -->
  <div class="col-9">
    <div class="steps-header d-flex justify-content-between align-items-center">
      <h1><%= @recipe.name %></h1>
      <img src="<%= @recipe.photo %>" alt="">
    </div>

    <%= render 'steps', steps: @steps %>
  </div>
</div>


